* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1E202B;
  font-family: Roboto, "Open Sans", sans-serif;

}

.navbar-toggler {
  border: unset;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: unset;

}

nav {
  background-color: #1E202B;
  padding: 50px 0 !important;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  margin-left: 10px;
}


nav h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

nav small {
  font-size: 10px;
  display: block;
  color: #bfc1c8;
}

nav .home-link a {
  border-radius: 30px;
  border: 2px solid #009ad8;
  color: #009ad8 !important;
  padding: 4px 25px !important;
}

nav .another-link a {
  border-radius: 30px;
  border: 2px solid transparent;
  color: white !important;
  padding: 4px 25px !important;
}

nav .another-link:hover a {
  color: #009ad8 !important;
  border-color: #009ad8 !important;
}

nav span {
  border-radius: 30px;
  padding: 15px;
  border: 2px solid transparent;
}

nav span:hover {
  border-color: #009ad8;
}

nav span:hover i {
  color: #009ad8 !important;
}

.section-1 {
  background-image: url(../images/banner.png);
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}

.location {
  position: relative;
}

.section-1 .search,
.section-3 .subscipe {
  padding: 15px 50px 15px 20px;
  background-color: #1e202b;
  color: white;
  border-radius: 30px;
  border: none;
  outline: none;
}

.section-1 .button-find,
.section-3 .button-subscipe {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  border-radius: 30px;
  background-color: #009AD8;
  border: none;
  color: white;
}

.section-2 .weather-info {
  background-color: #323544;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  width: 100%;

}

.section-2 .weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D303D;
  padding: 10px;
  color: rgb(191, 193, 200);

}

.section-2 .weather-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #323544;
  color: white;
}

.section-2 .loc {
  color: rgb(191, 193, 200);
  font-size: 18px;
}

.section-2 .num {
  font-size: 86px;
  font-weight: 700;
}

.section-2 .weather-icon img {
  width: 90px;
}

.section-2 .clear {
  color: rgb(0, 154, 216);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.section-2 .weather-info .weather-content span {
  margin-right: 20px;
}

.section-2 .weather-2 .weather-header {
  background-color: #222530;
}

.column-2 {
  background-color: #262936;
}

.section-2 .weather-2 .weather-content {
  background-color: #262936;
}

.section-2 .weather-2 .weather-content,
.section-2 .weather-3 .weather-content {
  margin-right: 40px;
  padding-top: 60px;
  text-align: center;
}

.section-2 .weather-2 .weather-content .num,
.section-2 .weather-3 .weather-content .num {
  font-size: 24px;
  margin-top: 20px;
}

.section-2 .weather-2 .weather-content img,
.section-2 .weather-3 .weather-content img {
  width: 48px;
}

.section-2 .weather-2 .weather-content small,
.section-2 .weather-3 .weather-content small {
  color: rgb(191, 193, 200);
}

.section-3 {
  background-color: #262936;
  padding: 50px 0;
  text-align: left;
}

.section-3 .search {
  margin: 20px;
}

.section-3 .button-find {
  margin: 20px;
}

.section-3 a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1e202b;
  color: #009ad8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 5px;
  transition: all 0.5s;
}

.section-3 a:hover {
  color: white;
  background-color: #009AD8;
}

.copyright {
  color: #bfc1c8;
  margin-top: 15px;
}


@media (max-width:991px) {
  nav .navigation {
    padding: 30px 0 0;
  }

  nav .navigation ul {
    background: #262936;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
  }

  nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: 100%;
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav .home-link a {
    color: #009ad8 !important;
    border-color: transparent;
  }

  nav .another-link a {
    color: white !important;
  }

  nav .another-link:hover a {
    color: white !important;
    border-color: transparent !important;
  }

  .section-2 .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .section-2 .weather-1 .degree {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}